<!doctype html>
<html lang="zh-Hang-TW">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>甜點工坊-註冊</title>
</head>

<body>
    <section class="my-md-5">
        <div class="container pt-4">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-10">
                    <div class="row ">
                        <div class="col-md-6 pr-md-0">
                            <form class="register-form" method="post">
                                <h1 class="text-center pt-5 pb-4 mb-0">會員登入</h1>
                                <div class="connect-to-social-media-background p-4 d-md-none d-flex justify-content-center">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn facebook-button-setting py-3 px-4">
                                            <img src="/assets/img/ic-facebook-logotype.svg" class="img-fluid" width="97px">
                                        </button>
                                        <button type="button" class="btn google-button-setting py-3 px-4">
                                            <img src="/assets/img/ic-google.svg" class="img-fluid" width="97px">
                                        </button>
                                        <button type="button" class="btn yahoo-button-setting py-3 px-4">
                                            <img src="/assets/img/ic-yahoo.svg" class="img-fluid" width="97px">
                                        </button>
                                    </div>
                                </div>
                                <fieldset class="mt-3">
                                    <div class="form-group d-flex justify-content-center mx-4">
                                        <i class="fas fa-user icon-setting "></i>
                                        <input type="text" id="disabledTextInput" #loginAccount class="username-input-setting" placeholder="電子信箱/手機號碼">
                                    </div>
                                    <div class="form-group d-flex text-center mx-4">
                                        <i class="fas fa-key icon-setting"></i>
                                        <input type="password" id="disabledTextInput" #loginPassword class="password-input-setting" placeholder="請輸入使用者密碼">
                                    </div>
                                    <div class="form-group ml-4">
                                        <label class="checkbox-container mb-3">記住我
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <a class="btn form-btn rounded-0 py-3 mt-3" href="#">登入帳號</a>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-6 py-4 pl-0 d-none d-md-block">
                            <div class="connect-to-social-media-background">
                                <h3 class=" text-center connect-to-social-media py-4">——連結社群帳號——</h3>
                                <div class="row justify-content-center ">
                                    <div class="col-10 social-media-button mb-md-4 px-0">
                                        <button type="button" class="btn social-media-button-setting py-3">
                                            <img src="/assets/img/ic-facebook-logotype.svg" class="img-fluid" width="97px">
                                        </button>
                                    </div>
                                    <div class="col-10 social-media-button mb-md-4  px-0">
                                        <button type="button" class="btn social-media-button-setting py-3">
                                            <img src="/assets/img/ic-google.svg" class="img-fluid" width="97px">
                                        </button>
                                    </div>
                                    <div class="col-10 social-media-button mb-md-4 px-0">
                                        <button type="button" class="btn social-media-button-setting py-3">
                                            <img src="/assets/img/ic-yahoo.svg" class="img-fluid" width="97px">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-green py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex justify-content-center align-items-center justify-content-md-start mb-4 mb-md-0">
                    <img src="/assets/img/logo-light.svg" class="logo-light-img" alt="">
                    <span class="text-white mx-3 mb-0 font-size-24">訂閱你我的甜蜜郵件</span>
                </div>
                <div class="col-md-5 ">
                    <div class="color-green bg-light-green d-flex justify-content-between">
                        <i class="fas fa-envelope ml-3 icon-size-24 mt-3"></i>
                        <input type="email" class="bg-transparent border-0 w-100">
                        <button class="btn bg-light-yellow rounded-0 px-3 py-3 text-center"><i class="fas fa-arrow-right icon-size-16 color-green"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </body>

</html>