<!doctype html>
<html lang="zh-Hang-TW">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <title>甜點工坊-購物車</title>
</head>

<body>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="ur-shopping-cart h4 py-4 mb-0 text-center">您的購物車</h1>
                    <div class="row shopping-cart-item-row d-flex mx-0 flex-column flex-md-row">
                        <div class="col-md-10 d-flex align-items-center pl-0">
                            <div class="mr-4 my-4 flex-grow-1 flex-md-grow-0">
                                <div class="shopping-cart-item-pic"></div>
                            </div>
                            <div class=" d-flex align-items-md-center flex-column flex-md-row flex-md-grow-1">
                                <div class="mr-md-4 color-green">
                                    <span class="h5">抹茶馬卡龍</span>
                                    <br>
                                    <span>NT$ 450</span>
                                </div>
                                <div class="ml-md-auto mt-3 mt-md-0">
                                    <div class="input-group d-flex ml-auto align-items-center">
                                        <button type="button" class="btn remove-btn rounded-0">-</button>
                                        <input type="text" class="quantity-input-setting" value="2">
                                        <button type="button" class="btn add-btn rounded-0">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-border col-md-2 d-flex text-center align-items-center px-0 py-3 my-3 flex-md-row-reverse">
                            <a href="#" class="btn delete-icon color-green d-none d-md-block"><i class="fas fa-trash "></i></a>
                            <h5 class=" color-green my-0 ml-auto">NT$ 900</h5>
                        </div>
                    </div>
                    <div class="row shopping-cart-item-row d-flex mx-0 flex-column flex-md-row">
                        <div class="col-md-10 d-flex align-items-center pl-0">
                            <div class="mr-4 my-4 flex-grow-1 flex-md-grow-0">
                                <div class="shopping-cart-item-pic"></div>
                            </div>
                            <div class=" d-flex align-items-md-center flex-column flex-md-row flex-md-grow-1">
                                <div class="mr-md-4 color-green">
                                    <span class="h5">抹茶馬卡龍</span>
                                    <br>
                                    <span>NT$ 450</span>
                                </div>
                                <div class="ml-md-auto mt-3 mt-md-0">
                                    <div class="input-group d-flex ml-auto align-items-center">
                                        <button type="button" class="btn remove-btn rounded-0">-</button>
                                        <input type="text" class="quantity-input-setting" value="2">
                                        <button type="button" class="btn add-btn rounded-0">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-border col-md-2 d-flex text-center align-items-center px-0 py-3 my-3 flex-md-row-reverse">
                            <a href="#" class="btn delete-icon color-green d-none d-md-block"><i class="fas fa-trash "></i></a>
                            <h5 class=" color-green my-0 ml-auto">NT$ 900</h5>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <h2 class="text-center h4 order-list-header pt-4 pb-3 mb-0 ">訂單摘要</h2>
                    <hr class="border-white mt-0 mb-0 ">
                    <div class="order-list-body">
                        <div class="d-flex justify-content-between mx-3 pt-3 mb-3">
                            <span>小計</span>
                            <span>NT $2700</span>
                        </div>
                        <div class=" d-flex justify-content-between mx-3 mb-3">
                            <span>運費 </span>
                            <span>NT $300</span>
                        </div>
                        <div class=" d-flex justify-content-between mx-3 pb-3">
                            <span class="h4">總計</span>
                            <span class="h4">NT $3000</span>
                        </div>
                        <a class="btn order-list-btn rounded-0 py-3" href="delivery.html">結帳</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-green py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex justify-content-center align-items-center justify-content-md-start mb-4 mb-md-0">
                    <img src="/assets/img/logo-light.svg" class="logo-light-img" alt="">
                    <span class="text-white mx-3 mb-0 font-size-24">訂閱你我的甜蜜郵件</span>
                </div>
                <div class="col-md-5 ">
                    <div class="color-green bg-light-green d-flex justify-content-between">
                        <i class="fas fa-envelope ml-3 icon-size-24 mt-3"></i>
                        <input type="email" class="bg-transparent border-0 w-100">
                        <button class="btn bg-light-yellow rounded-0 px-3 py-3 text-center"><i class="fas fa-arrow-right icon-size-16 color-green"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </body>

</html>