<div class="container px-0 px-md-3">
    <div class="header mt-3">
        <div class="index-page-header bg-cover mt-3">
        </div>
        <div class="row d-flex justify-content-center selection-box">
            <div class="col-md-10">
                <div class="row no-gutters">
                    <a routerLink="today" class="col-4 green-filter  border-right">
                        <span class="todays-pick-text">本日精選</span>
                        <div class="filter-position zindex--1"></div>
                        <div class="todays-pick"></div>
                    </a>
                    <a routerLink="hot" class="col-4 green-filter border-right">
                        <span class="hit-recommend-text">人氣推薦</span>
                        <div class="filter-position zindex--1"></div>
                        <div class="hit-recommend"></div>
                    </a>
                    <a routerLink="newProducts" class="col-4 green-filter border-right">
                        <span class="new-dessert-text">新品上市</span>
                        <div class="filter-position zindex--1"></div>
                        <div class="new-dessert"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="my-md-5">
    <div class="row justify-content-center no-gutters d-md-none">
        <div class="col-6">
            <img src="/assets/img/sm-為什麼選擇了做甜點.svg" class="my-5 img-fluid" alt="">
        </div>
    </div>
    <div class="white-block d-none d-md-block"></div>
    <div class="rectangle-bg">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 margin-setting--24">
                    <div class="bg-cover why-make-dessert-img "></div>
                </div>
                <div class="col-md-6 justify-content-end d-flex">
                    <div class="content-box color-light-green text-vertical p-5 text-spacing-sm d-none d-md-block">
                        <p class="mb-0">青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
                        <p class="mb-0">一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                        <p class="mb-0">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                    </div>
                    <div class="mb-0 color-light-green py-5 text-spacing-xs d-md-none">
                        <p class="mb-0">青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
                        <p class="mb-0">一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                        <p class="mb-0">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                    </div>
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/assets/img/lg-為什麼選擇了做甜點.svg" class="why-make-dessert-text-img d-sm-none d-md-block"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center my-4 my-md-5">
    <div class="white-block d-none d-md-block"></div>
    <img src="/assets/img/lg-想吃甜點是不需要理由的.svg " class="img-fluid d-none d-md-inline-block lg-no-need-reason-img" alt="">
    <img src="/assets/img/sm-想吃甜點是不需要理由的.svg" class="img-fluid d-sm-inline-block d-md-none sm-no-need-reason-img"
        alt="">
</section>
<!-- <section>
        <ul>
            <li *ngFor="let item of getAllProductType"></li>
        </ul>
    </section> -->

<section>
    <div class="container">
        <div class="row d-flex justify-content-center" *ngIf=" data.length > 3 ">
            <div class="col-md-4 my-3" *ngFor="let item of data">
                <div class="card">
                    <img src="{{item[4]}}" class="todays-pick-1">
                    <div class="todays-pick-tag text-vertical px-2 py-3">本日精選</div>
                </div>
                <div class="row text-center color-green">
                    <div class="col-6 py-3 info-border card-font-size">{{item[1]}}</div>
                    <strong class="col-6 py-3 card-font-size">NT$ {{item[2]}}</strong>
                </div>
                <a href="#" class="btn add-to-cart py-3 card-font-size">加入購物車</a>
            </div>
        </div>
    </div>
</section>